body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: papayawhip; /* Color Name */
  color: rgb(0,0,0); /* RGB Specifier */
}

p {
  color: #333333; /* RGB Specifier (Hexadecimal) */
}